<div class="landing-body">
    <div class="landing-wrapper">
        <div id="header">
            <div>
                <img src="assets/layout/images/logo-colored-slim.png" class="logo" />
                <a id="landing-menu-button" href="#">
                    <i class="pi pi-bars"></i>
                </a>
    
                <ul id="landing-menu">
                    <li>
                        <a href="landing#home">INICIO</a>
                    </li>
                    <li>
                        <a href="landing#features">FUNCION</a>
                    </li>
                    <li>
                        <a href="landing#stats">ESTADÍSTICAS</a>
                    </li>
                    <!-- <li>
                        <a href="landing#video">VIDEO</a>
                    </li> -->
                    <li>
                        <a href="landing#pricing">PRECIOS</a>
                    </li>
                    <li>
                        <a href="landing#contact">CONTACTO</a>
                    </li>
                </ul>
            </div>
        </div>
    
        <div id="introduction">
            <div>
                <h1>Gestión de Identidad Digital Privada</h1>
                <p>Una solución innovadora que permite la tokenización y verificación segura de identidades en tiempo real, reduciendo procesos manuales y mejorando la productividad.</p>
                <button type="button" class="p-button">
                    <span class="p-button-text">DESCUBRE MÁS</span>
                </button>
            </div>
        </div>
    
        <div id="features">
            <div>
                <div class="grid">
                    <div class="col-12 md:col-6 feature-box">
                        <img src="assets/layout/images/landing/icon-responsive.svg">
                        <div>
                            <h3>GESTIÓN SEGURA</h3>
                            <p>Proporciona la máxima seguridad mediante blockchain para garantizar la integridad de los datos.</p>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-6 feature-box">
                        <img src="assets/layout/images/landing/icon-moderndesign.svg">
                        <div>
                            <h3>DISEÑO INTUITIVO</h3>
                            <p>Una interfaz diseñada para simplificar la gestión de identidades, accesible desde cualquier dispositivo.</p>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-6 feature-box">
                        <img [src]="'assets/layout/images/landing/icon-welldocumented.svg'">
                        <div>
                            <h3>VERIFICACIÓN EN TIEMPO REAL</h3>
                            <p>Procesos rápidos y confiables para validar identidades de forma eficiente.</p>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-6 feature-box">
                        <img src="assets/layout/images/landing/icon-cleancode.svg">
                        <div>
                            <h3>COMPATIBILIDAD FLEXIBLE</h3>
                            <p>Integra múltiples sistemas y herramientas para adaptarse a las necesidades del negocio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="stats">
            <div>
                <div class="grid">
                    <div class="col-12 md:col-4">
                        <div class="stat-box">
                            <!-- <img src="assets/layout/images/landing/icon-ui.svg"> -->
                            <h3>200+</h3>
                            <p>IDENTIDADES TOKENIZADAS</p>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-4">
                        <div class="stat-box stat-box-active">
                            <!-- <img src="assets/layout/images/landing/icon-hours.svg"> -->
                            <h3>1000+</h3>
                            <p>HORAS DE DESARROLLO</p>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-4">
                        <div class="stat-box">
                            <!-- <img src="assets/layout/images/landing/icon-coffee.svg"> -->
                            <h3>300+</h3>
                            <p>IMPLEMENTACIONES EXITOSAS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- <div id="video">
            <div>
                <div class="grid">
                    <div class="col-12 md:col-6 video-description">
                        <h3>Gestión Eficiente de Identidades</h3>
                        <p>Descubre cómo nuestra solución puede transformar la forma en que las empresas manejan y verifican identidades.</p>
                        <button type="button" class="p-button">
                            <span class="p-button-text">VER MÁS</span>
                        </button>
                    </div>
    
                    <div class="col-12 md:col-6">
                        <img src="https://th.bing.com/th/id/OIP.bozYePUIT4Ue9YBIpqfh0QHaHa?w=980&h=980&rs=1&pid=ImgDetMain" alt="">
                    </div>
                </div>
            </div>
        </div> -->
    
        <div id="pricing">
            <div>
                <h2>Precios</h2>
                <p>Elige el plan que mejor se adapte a tus necesidades.</p>
    
                <div class="grid">
                    <div class="col-12 md:col-4">
                        <div class="pricing-box">
                            <div class="pricing-header">
                                <h3>INICIAL</h3>
                                <p>Para pequeñas empresas</p>
                            </div>
    
                            <div class="pricing-content">
                                <div class="pricing-fee">10$</div>
    
                                <ul>
                                    <li><i class="pi pi-check-circle"></i> Verificación básica</li>
                                    <li><i class="pi pi-check-circle"></i> Hasta 100 registros</li>
                                </ul>
    
                                <button type="button" class="p-button">
                                    <span class="p-button-text">ADQUIRIR</span>
                                </button>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-4">
                        <div class="pricing-box pricing-box-pro">
                            <div class="pricing-header">
                                <h3>PROFESIONAL</h3>
                                <p>Para equipos medianos</p>
                            </div>
    
                            <div class="pricing-content">
                                <div class="pricing-fee">25$</div>
    
                                <ul>
                                    <li><i class="pi pi-check-circle"></i> Verificación avanzada</li>
                                    <li><i class="pi pi-check-circle"></i> Hasta 500 registros</li>
                                    <li><i class="pi pi-check-circle"></i> Soporte prioritario</li>
                                </ul>
    
                                <button type="button" class="p-button">
                                    <span class="p-button-text">ADQUIRIR</span>
                                </button>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-4">
                        <div class="pricing-box">
                            <div class="pricing-header">
                                <h3>EMPRESARIAL</h3>
                                <p>Para grandes organizaciones</p>
                            </div>
    
                            <div class="pricing-content">
                                <div class="pricing-fee">50$</div>
    
                                <ul>
                                    <li><i class="pi pi-check-circle"></i> Integración avanzada</li>
                                    <li><i class="pi pi-check-circle"></i> Soporte 24/7</li>
                                    <li><i class="pi pi-check-circle"></i> Espacio ilimitado</li>
                                </ul>
    
                                <button type="button" class="p-button">
                                    <span class="p-button-text">ADQUIRIR</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="contact">
            <div>
                <h2>Contacto</h2>
                <p>Completa los campos a continuación y te responderemos en breve.</p>
    
                <div class="grid flex justify-content-center">
                    <!-- <div class="col-12 md:col-8 contact-map">
                        <img src="assets/layout/images/landing/map-contact.png">
                    </div>
     -->
                    <div class="col-12 md:col-8 contact-form p-fluid">
                        <div class="col-12">
                            <input type="text" pInputText class="p-inputtext" placeholder="Nombre" />
                        </div>
    
                        <div class="col-12">
                            <input type="text" pInputText class="p-inputtext" placeholder="Correo electrónico" />
                        </div>
    
                        <div class="col-12">
                            <input type="text" pInputText class="p-inputtext" placeholder="Mensaje" />
                        </div>
    
                        <button type="button" class="p-button">
                            <span class="p-button-text">ENVIAR</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <div id="footer">
            <div>
                <div class="grid">
                    <div class="col-12 md:col-4">
                        <img src="assets/layout/images/logo-slim.png" class="footer-logo" />
    
                        <div>
                            <h4>SOBRE NOSOTROS</h4>
                            <p>Especialistas en soluciones de identidad digital basadas en blockchain.</p>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-4">
                        <h4>CONTACTO</h4>
                        <p>Santa Cruz de la Sierra - Bolivia</p>
                        <p><i class="pi pi-mobile"></i> +591 71017932</p>
                    </div>
    
                    <div class="col-12 md:col-4 footer-social">
                        <h4>SOCIAL</h4>
                        <a href="#">
                            <img src="assets/layout/images/landing/icon-twitter.svg">
                        </a>
                        <a href="#">
                            <img src="assets/layout/images/landing/icon-linkedin.svg">
                        </a>
                        <a href="#">
                            <img src="assets/layout/images/landing/icon-facebook.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <script>
        SerenityLanding = {
            addClass: function(element, className) {
                if (element.classList)
                    element.classList.add(className);
                else
                    element.className += ' ' + className;
            },

            removeClass: function(element, className) {
                if (element.classList)
                    element.classList.remove(className);
                else
                    element.className = element.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            },

            hasClass: function(element, className) {
                if (element.classList)
                    return element.classList.contains(className);
                else
                    return new RegExp('(^| )' + className + '( |$)', 'gi').test(element.className);
            },

            hideMenu: function() {
                this.removeClass(document.getElementById('landing-menu'), 'landing-menu-active');
            },

            showMenu: function() {
                this.addClass(document.getElementById('landing-menu'), 'landing-menu-active');
            }
        };

        document.getElementById('landing-menu-button').addEventListener('click', function(e) {
            var menu = document.getElementById('landing-menu');

            if(SerenityLanding.hasClass(menu, 'landing-menu-active'))
                SerenityLanding.hideMenu();
            else
                SerenityLanding.showMenu();

            e.preventDefault();
        });

        var menuLinks = document.querySelectorAll('#landing-menu a');
        for (i = 0; i < menuLinks.length; i++) {
            menuLinks[i].addEventListener('click', function(e) {
                SerenityLanding.hideMenu();
            });
        }
    </script>
</div>