$fontSize:14px;
$fontFamily:Roboto !default;
$borderRadius:3px;
$transitionDuration:.3s;
$iconWidth:20px;
$iconHeight:20px;
$iconFontSize:20px;
$mobileBreakpoint:1024px;
$contentMobileMaskBgColor:#424242;
