<div class="grid flex justify-content-center">
    <div class="col-12 xl:col-8 lg:col-10">
        <div class="card">
            <div class="col-12 flex justify-content-between">
                <h5>{{autorizados.length  > 0?  'Autorizaciones' : 'No tiene autorizaciones registradas'}}</h5>
                <div class="flex justify-content-end">
                    <button pButton pRipple class="p-button-outlined p-button-danger mr-2 mb-2" label="Revocar Autorizaci&oacute;n" icon="pi pi-lock" [disabled]="tokensSelected.length == 0 || !isValidSelection" (click)="revokeAuthorization()"></button>
                    <button pButton pRipple label="Nueva Autorizaci&oacute;n" icon="pi pi-key" class="mr-2 mb-2" (click)="navigateToCreate()"></button>
                </div>
                
            </div>
            
            <p-table [value]="autorizados" dataKey="_address" [tableStyle]="{ 'min-width': '60rem' }" [expandedRowKeys]="expandedRows">
                <ng-template pTemplate="caption">
                    <div class="flex flex-wrap justify-content-end gap-2">
                        <!-- <p-button label="Expand All" icon="pi pi-plus" text (onClick)="expandAll()" /> -->
                        <p-button label="Colapsar Todo" icon="pi pi-minus" text (onClick)="collapseAll()" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th pSortableColumn="address">Direccion de Consumidor <p-sortIcon field="address" /></th>
                        <th pSortableColumn="quan">Tokens Autorizados <p-sortIcon field="quan" /></th>
                        <th pSortableColumn="options">Opciones <p-sortIcon field="options" /></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-autho let-expanded="expanded">
                    <tr>
                        <td>
                            <p-button type="button" pRipple [pRowToggler]="autho" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        </td>
                        <td>{{ autho._address }}</td>
                        <td>{{ autho.tokenIds.length }}</td>
                        <td>
                            <button pButton class="p-button-info" label="Opciones"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-autho>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="autho.addressTokenIds" 
                                dataKey="tokenId" 
                                [(selection)]="tokensSelected"
                                (onRowSelect)="onRowSelect($event)" 
                                (onRowUnselect)="onRowUnselect($event)"
                                selectionMode="multiple">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                                            <th pSortableColumn="tokenId">Token Id <p-sortIcon field="tokenId" /></th>
                                            <th style="width: 4rem"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-tokenId>
                                        <tr>
                                            <td>
                                                <p-tableCheckbox [value]="tokenId" />
                                            </td>
                                            <td>{{ tokenId.tokenId }}</td>
                                            <td><p-button type="button" icon="pi pi-search" /></td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="6">There are no order for this product yet.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </td>
                    </tr>
                </ng-template>
        </p-table>
        </div>
    </div>
</div>