<div class="p-fluid">
    <h2>Consumidores Autorizados</h2>
    <button pButton label="Ver Consumidores Autorizados" icon="pi pi-users" (click)="getAuthorizedConsumers()"></button>
  
    <p-table *ngIf="authorizedConsumers.length > 0" [value]="authorizedConsumers" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>Dirección del Consumidor</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-consumer>
        <tr>
          <td>{{ consumer }}</td>
        </tr>
      </ng-template>
    </p-table>
  
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  